@media only screen and (max-width: 1200px) {
	.banner-max-height img{
  	height: 460px;
  	object-fit: cover;
  }
}



@media only screen and (max-width: 360px) {
  .left{
		margin-bottom: 10px;
	}
  .logo-header{
  	margin-top: 0;
  	margin-bottom: 10px;
  }
  .km {
    padding-top: 7px;
    padding-bottom: 7px;
  }
  .search-area{
  	padding-top: 0;
    padding-bottom: 0;
  }
  .header-bottom-right{
  	float: none;
  	text-align: center;
  }
  .section-title h6{
  	width: 55%;
  	padding: 0;s
  }
  .title-icon img{
  	width: 10%;
  }
  .banner-max-height img{
  	/*height: 400px;
  	object-fit: cover;*/
  }
 
  .circal > div{
  	width: 80px;
    height: 80px;
    line-height: 40px;
  }
  .circal > div:nth-of-type(1) {
    transform: translate(-87px, -170px);
	}
	.circal > div:nth-of-type(2) {
	    transform: translate(14px, -145px);
	}
	.circal > div:nth-of-type(3) {
	    transform: translate(14px, 65px);
	}
	.circal > div:nth-of-type(4) {
	    transform: translate(-87px, 90px);
	}
	.circal > div:nth-of-type(5) {
	    transform: translate(-190px, 65px);
	}
	.circal > div:nth-of-type(6) {
	    transform: translate(-190px, -145px);
	}
	.circal > div:nth-of-type(7) {
	    transform: translate(-133px, -40px);
	}
	.circal > div:nth-of-type(8) {
	    transform: translate(-40px, -40px);
	}
	.circal h6{
		margin-left: -16px;
	}
	.circal{
		top: -16px;
	}
	.service-left{
		left: 14%;
	}
	.download{
		margin-top: 20px;
	    margin-bottom: 20px;
	    margin-left: 15px;
	}
	.footer-top h3{
		margin-top: 20px;
	}
	.g-play {
    	margin-top: 0px;
	}
}