
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
  
  /* Ow; Slider CSS*/
  
  .owl-wrapper {
    positon: relative;
  }
  
  .owl-controls {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  
  .owl-theme .owl-controls .owl-page span {
    background: #fff !important;
    width: 10px !important;
    height: 10px !important;
  }
  
  .owl-img {
    width: 100%;
  }
  
  .owl-text-overlay {
    position: absolute;
    text-align: center;
    width: 60%;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    padding-bottom: 20px;
    border-radius: 15px 50px 30px 5px;
  }
  
  h2.owl-title {
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Playfair Display SC', serif !important;
  }
  
  
  
  .owl-theme .owl-controls .owl-page span:active {
    background: #fff !important;
  }
  
  /* hide previous and next */
  
  .owl-buttons {
    visibility: hidden;
    display: none;
  }

  // product page //

